/******************************************/
/*  Alert                                 */
/******************************************/

.withStatusAlert #bgStatusAlertBar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #A8322D;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 45px; /* Hoehe des roten Balkens */
	z-index: 1000;

}

.withStatusAlert #header {
	padding-top: 45px;
}

.withStatusAlert #bgHeader {
	height: calc(200px + 45px);
}

.withStatusAlert #statusAlert {
	font-size: 14px;
	font-weight: bold;
	color: white;
	width: 970px;
	text-align: left;
	padding: 5px 0 5px 0;
}

.withStatusAlert #statusAlert a {
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 0;
}

.withStatusAlert #statusAlert a:hover {
	border: none;
	text-decoration: underline;
}


/******************************************/
/*  Enter below your specific app styles  */
/******************************************/

#bgHeader,
#footer {
	background: #1f407a;
}

table {
	border-bottom: 1px solid #ccc;
}

td {
	color: #333;
	padding-left: 0;
}

th {
	padding-left: 0;
}

th:first-child {
	padding-left: 3px;
}

td b {
	font-weight: bold;
	color: black;
}


td.dozierende a {
	font-weight: normal;
}

td.dozierende a.emphasize {
	font-weight: bold;
}


/* ---- level indicator ---- */

td img.levelIndicator {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	vertical-align: baseline;
}

.equalHeightContainer {
	overflow: hidden;
}

.equalHeight {
	padding-bottom: 99999px;
	margin-bottom: -99999px;
}

/* ---- infoPage ---- */

body.infoPage {
	background: #fff;
}

body.infoPage #contentContainer {
	padding: 0;
	margin: 0 auto;
}

body.infoPage #contentTop h1 {
	height: auto;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 0;
}

/* ---- Symbols ---- */

.symbolInfo,
.symbolAlert {
	display: inline-block;
	padding: 0 0 0 4px !important;
	border: none !important;
	background: none !important;
}

/* ---- Pagination ---- */

.pagination li {
	font-size: 12px;
	line-height: 1;
	list-style: none;
	font-weight: bold;
	color: #666;
}

.pagination img {
	display: inline-block;
	padding: 0 12px;
	vertical-align: baseline;
}

.pagination a {
	border: none;
}

.pagination img.firstPage,
.pagination img.lastPage {
	padding: 0;
}

.pagination a.allPages,
.pagination a.scrollPages {
	padding: 0;
	padding-left: 12px;
	text-decoration: inherit;
}

/* Pagination at the bottom of page */
/* Extends class formButtons       */

.pagination .left {
	float: left;
	width: 20%;
}

.pagination .middle {
	float: left;
	width: 59%;
	text-align: center;
	padding-top: 5px;
	font-size: 12px
}

.pagination .right {
	float: right;
	width: 20%;
}




/* Tabelle Verfuegbarkeit */


.ui-datepicker {
	z-index: 10100;
}


.submit-doku {
	padding: 0;
	font-size: 11px;
	width: 140px !important;
	background-color: #eee !important;
}

.submit-doku:hover {
	background-color: #666 !important;
}

a.delete {
	background: url(../images/button-delete.png) no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -999px;
	overflow: hidden;
	float: right;
}

a.delete:hover {
	background: url(../images/button-delete-hover.png) no-repeat;
}


span.icon {
	display: inline-block;
	padding: 2px 0 0 0;
	font-size: 11px;
}

div.print-only {
	display: none;
}

span.print-only {
	display: none;
}

.print-only {
	display: none;
}

table.nested {
	border: none;
	margin-top: -1px;
	margin-bottom: -3px;
}

table.nested td {
	border: none;
	padding: 2px 3px 0px 0;
	font-size: 11px;
}

table.nested td a {
	font-weight: normal;
}

table.nested td:first-child {
	width: auto;
}


.td-level {
	background: #eee;
	border: 1px solid #ccc;
	font-size: 11px;
	padding: 4px 5px !important;
}


table.timetable {
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	table-layout: auto !important;
}

table.timetable td {
	border: 1px solid #fff;
	padding: 0;
}

table.timetable th.raum,
table.timetable th.platz,
table.timetable th.raumzeit {
	border: 1px solid #ccc;
	padding: 2px 5px;
	text-align: left;
	vertical-align: middle;
	background: #eee;
	font-size: 10px;
}

table.timetable th.platz {
	text-align: right;
	width: 40px;
}

table.timetable th.raumzeit {
	text-align: center;
	padding: 2px 0;
}

table.timetable td.raum,
table.timetable td.platz {
	border: 1px solid #ccc;
	border-left: none;
	padding: 2px 5px;
}

table.timetable td.platz {
	text-align: right;
}

table.timetable td img,
table.timetable td input {
	width: 100% !important;
	height: 20px !important;
	cursor: pointer;
	border: none;
	background: transparent;
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
}

table.timetable td img {
	width: 5px !important;
	cursor: default;
}

table.timetable td.raum a {
	background: none !important;
	padding-right: 5px !important;
}

.bg-grey {
	background: #999;
}

.bg-blue {
	background: #069;
}

.bg-green {
	background: #9c9;
}

.date-string {
	text-align: center !important;
	padding: 0;
	vertical-align: middle;
}

.button-nextprev {
	border: 1px solid #ccc !important;
	background: #ddd !important;
	width: 140px !important;
}

.button-nextprev:hover {
	background: #999 !important;
}

/*------------------ end new ----------------- */


p.kapitel {
	font-weight: bold;
	font-size: 18px;
	padding: 2px 0px 0px 0px;
	margin: 0px;
}

p.bereich,
p.unterbereich {
	font-weight: normal;
	padding: 0px 0px 2px 0px;
	margin: 0px;
}

/* Le/Lv Kommentare */
.kommentar {
	padding-bottom: 2px;
	font-size: 10px;
	color: #805500;
	padding-left: 5px;
	border-left: 1px solid #805500;
	margin-left: 15px;
	margin-bottom: 5px;
	font-weight: normal;
}

.kommentar-abschnitt,
.kommentar-le,
.kommentar-lv {
	color: #805500;
	padding-bottom: 1px;
	padding-left: 5px;
	margin-left: 1px;
	border-left: 1px solid #805500;
	font-size: 11px;
	font-weight: normal;
	display: block;
	width: 300px;
	word-wrap: break-word;
}

.kommentar-abschnitt {
	width: auto;
}

.kommentar-abschnitt a,
.kommentar-le a,
.kommentar-lv a {
	word-wrap: break-word;
}

.anfangszeit {
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.toggle {
	cursor: pointer;
}

.selected {
	display: block;
	text-indent: -999px;
	width: 17px;
	height: 17px;
	overflow: hidden;
	cursor: auto;
}

.open.short {
	display: block;
	text-indent: -999px;
	width: 21px;
	height: 21px;
	overflow: hidden;
	cursor: auto;
	background-image: url(../images/button-minus.png);
}

.open.short:hover {
	background-image: url(../images/button-minus-hover.png);
}

.close.short {
	display: block;
	text-indent: -999px;
	width: 21px;
	height: 21px;
	overflow: hidden;
	cursor: auto;
	background-image: url(../images/button-plus.png);
}

.close.short:hover {
	background-image: url(../images/button-plus-hover.png);
}


#wrapper3 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 990px;
	min-height: 100%;  /* -- for fixed footer -- */
}
body.wide #wrapper3 {
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	min-width: 990px;
}


.kommentar-le3 {
	color: #805500;
	padding-bottom: 1px;
	padding-left: 5px;
	margin-left: 1px;
	border-left: 1px solid #805500;
	font-size: 11px;
	font-weight: normal;
	display: block;
	max-width: 300px;
	min-width: 150px;
	word-wrap: break-word;
}

.kommentar-le3 a {
	word-wrap: break-word;
}