

#body {
	background: #fff;
	color: #000;
	font-size: 12px;
}

#wrapper {
	width: auto;
	margin: 0 auto;
	min-height: 90%;
}
#footer {
	width: auto;
	margin: 0 auto;
}
#headerLogo {
	height: 50px;
}
#logo {
	position: absolute;
	left: 10px;
	top: 0;
}
.withStatusBar #logo {
	top: -0;
}
#logoWeb {
	display: none;
}
#logoPrint {
	display: block;
}
#logoPrint img {
	display: block;
	width: 200px;
	height: auto;
}
#userStatusBar #appName {
	position: absolute;
	left: 0;
	top: 90px;
}
#headlineBig {
	position: absolute;
	left: 10px;
	top: 50px;
}

#userStatusBar #user {
	position: absolute;
	top: 9px;
	right: 0;
}

#contentContainer {
	padding-top: 20px !important;
}
#contentContainerSide {
	padding-top: 10px !important;
}

#metaNavi,
#mainNavi,
.withMainNavi #mainNavi,
#subNavi,
#flowNavi,
#toggleView,
#logout,
.formButtons, 
.flow-buttons,
.flow-buttons-extra {
	display:none;
}
a.button,
input[type="submit"], 
.submit {
	display:none;
}

h1, h2, h3, h4, h5, h6,
th, td, p, li, a {
	color: black !important;
}
a.linkIntern,
#content a[target="_blank"],
a.linkExtern,
#content a.linkExtern {
	background: none;
	padding-right: 0;
}

#userStatusBar #appName a,
#headlineBig a {
	font-size: 24px
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 12px;
}
td, p, li, h4 {
	font-size: 12px !important;
}
th {
	font-size: 10px !important;
}

td:first-child,
th:first-child {
	width: 180px;
}
.divider > div span {
	display: block;
	margin-top: 8px;
	font-size: 9px;
	line-height: 11px;
	color: #444;
}


#footer li {
	font-size: 8px !important;
	line-height: 1em;
}

span.print-only {
	display: inline;
}

.url {
	width: auto;
}

.url img {
	display: none;
}

.clear {
	display: none;
}

.kommentar,
.kommentar-abschnitt,
.kommentar-le,
.kommentar-lv {
	font-size: 8px !important;
}

.downloadButtons {
	display: none;
}
