

/* Variables
*  #3c5a0f, green background for #bgHeader and #footer (Primary Color)
*  #1f407a; blue  background for #bgHeader and #footer (Secondary Color, overwrite in application.css)

*  #0069b4, blue  background for buttons
*  #82be1e, green background for flowNavi, buttons:hover and a:hover border-bottom
*  #1f407a, blue  for h1, h2, h3

----------------------------------------------------------------------------------------------------*/

/* @group Reset */

/** Use 3rd party CSS */
@import url("normalize.css");
@import url("formalize.css");
/* @end */


/* @group clear, clearfix */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	zoom: 1;
}
/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}
/* @end */


/* @group Basic Layout */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
	height: 100%; /* -- for fixed footer -- */
}
/** body **/
body {
	background: #eaecee;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	color: #333;
}

/** Layout Sections **/
#bgHeader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 165px;
	background: #3c5a0f; /* -- Main Color -- */
}
#bgUserStatusBar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: black;
}
#userStatusBar {
	position: relative;
	height: 41px;
	width: 990px;
	margin: 0 auto;
	font-size: 11px;
	line-height: 1.1;
	color: #fff;
}

#wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	min-height: 100%;  /* -- for fixed footer -- */
}
#content {
	position: relative;
}
#header {
	position: relative;
	z-index: 32;
	height: 135px;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}
#headerLogo {
	position: relative;
	top: 0;
	left:  0;
	height: 135px;
	z-index: 30;
	color: #fff;
	font-weight: bold;
}

#footer {
	position: relative;
	margin: 0 auto;
	width: 990px;
	height: 33px;
	overflow: hidden;
	margin-top: -33px;
	background: #3c5a0f; /* -- Main color, same as bgHeader -- */
	z-index: 20;
}

.inside {
	position: relative;
	padding: 13px;
}



/* @end */
/* @group Basic HTML */

h1 {
	font-size: 25px;
	line-height: 28px;
	padding: 12px;
	padding-top: 0;
	color: #1f407a;
}
h2 {
	font-size: 19px;
	line-height: 22px;
	padding: 0 0 10px 0;
	color: #1f407a;
}
h3 {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	color: #1f407a;
}
h4 {
	font-size: 14px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}
ul, ol {
	margin-left:18px;
}
li {
	font-size: 14px;
	line-height: 1.5;
}

table {
	border-top: 1px solid #ccc;
	width: 100%;
	margin: 5px 0 10px 0;
}
td {
	padding: 7px 5px 6px 5px;
	font-size: 12px;
	color: #333;
	border-bottom: 1px solid #ccc;
}
td:first-child {
	padding-left: 0;
	width: 180px;
	font-weight: bold;
	color: #666;	
}

th {
	padding: 3px 5px;
	background: #eee;
	font-size: 11px;
	color: #666;
	border-bottom: 1px solid #ccc;
}
th:first-child {
	border-left: 1px solid #ccc;
}
th:last-child {
	border-right: 1px solid #ccc;
}

a {
	color: #0069b4;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
a:hover {
	border-bottom: solid 1px #82be1e;
}
a.linkIntern,
#content a[target="_blank"] {
	padding-right: 15px;
	background: url('../images/arrow-link.png') no-repeat right center;
}

a.linkExtern,
#content a.linkExtern {
	background: url('../images/arrow-extern.png') no-repeat right center;
	padding-right: 15px;
	display: inline-block;
	margin-right:5px;
	margin-bottom:-1px;
}
hr {
	clear: both;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border:none;
	border-bottom: 1px solid #ccc;
	height: 1px;
}


/* ---- icons for tel, email, fax ---- */

.tel {
	background: url('../images/icon-phone.png') no-repeat left center;
	padding-left: 20px;
	display: inline-block;
	margin:0;
}
.fax {
	background: url('../images/icon-print.png') no-repeat left center;
	padding-left: 20px;
	display: inline-block;
	margin:0;
}
.email {
	background: url('../images/icon-email.png') no-repeat left center;
	padding-left: 20px;
	display: inline-block;
	margin:0;
}



/* @end */
/* @group content */

#contentTop {
	position: relative;
	overflow: visible;
}

#contentContainer {
	position: relative;
	background-color: #fff;
	padding-top: 60px;
	margin-top: 0;
	margin-bottom: 10px;
}

#contentContainer2 {
	position: relative;
	margin-top: 0;
	margin-bottom: 10px;
	background: #fff;
}

#contentMain {
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#contentEnd {
	position: relative;
	clear: both;
	height: 10px;
	padding-bottom: 33px;
	overflow: hidden;
	font-size: 10px;
}

/** 2 Columns **/
body.colSide #contentContainer,
body.colSide #contentContainer2 {
	width: 79%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: #fff;
}

body.colSide #contentContainerSide {
	padding-top: 47px;
	width: 20%;
	float: right;
	background: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
body.colSide #contentContainer,
body.colSide #contentContainerSide {
	background: #fff;
	min-height: 480px;
}
body.colSide #contentContainerSide h2 {
	padding-top: 40px;
}

/* @end */


/* @group Flexible Layout */

body.wide #userStatusBar,
body.wide #wrapper,
body.wide #footer {
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	min-width: 990px;
}

/* @end */


/* @group header */

#logo {
	position: absolute;
	left: 10px;
	top: 31px;
}

#logo a {
	display: block;
	border: none !important;
}

#logoWeb {
	position: relative;
	display: block;
}

#logoPrint {
	position: relative;
	display: none;
}

#headlineBig {
	position: absolute;
	left: 10px;
	top: 86px;
	width: 600px;
}


#headlineBig a {
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	border: none;
}

/* @end */



/* @group MainNavi or Statusbar */

/* Header modification when a MainNavi is added  */
.withMainNavi #bgHeader {
	height: 200px;
}
.withMainNavi #header {
	height: 170px;
}
.withStatusBar #headerLogo {
	position: relative;
	top: 41px;
}

/* MainNavi is per default not visible */
#mainNavi {
	display: none;
}
.withMainNavi #mainNavi {
	display: block;
}

/* Header modification when a StatusBar is added  */
#bgUserStatusBar {
	display: none;
}
.withStatusBar #bgUserStatusBar {
	display: block;
}
.withStatusBar #headlineBig {
	display: none;
}

/* @end */
/* @group navigation */
/* @group statusbar */

#userStatusBar #appName {
	position: absolute;
	top: 5px;
	left: 0px;
}

#userStatusBar #toggleView {
	position: absolute;
	top: 9px;
	left: 380px;
}

#userStatusBar #user {
	position: absolute;
	top: 9px;
	right: 140px;
}

#userStatusBar #logout {
	position: absolute;
	top: 9px;
	right: 0;
}

#userStatusBar #appName a {
	font-size: 20px
}

#userStatusBar #logout a {
	background: #444 url('../images/icon-close.png') no-repeat center right;
}

#userStatusBar #logout a:hover {
	background-color: #999;
	color: #333;
}
#userStatusBar a,
#userStatusBar span {
	font-size: 11px;
	line-height: 1.1;
	color: #fff;
	display: block;
	padding: 5px 30px 6px 10px;
	font-weight: bold;
	border: 0;
}
#userStatusBar #user a {
	padding-left: 0;
}
#userStatusBar a:hover {
	border-bottom: none;
}

#userStatusBar nav.viewNav {
	margin-left: 10px;
}

/* @end */

/* @group metaNavi */
#metaNavi {
	position: absolute;
	right: 0;
	top: 30px;
	height: 30px;
	z-index: 100;
	width: 740px;
}

#metaNavi ul {
	float: right;
	margin: 0 ;
}
#metaNavi li {
	float: left;
	font-size: 12px;
	list-style: none;
	line-height: 1;
	padding: 0 9px;
	border-right: 1px solid #627aa8;
}

#metaNavi a {
	display: inline-block;
	color: #fff;
}

#metaNavi a:hover {
	border-bottom: 1px solid #fff;
}

#metaNavi li#english {
	padding-right: 0;
	border-right: none;
}
/* @end */


/* @group mainNavi */


/* new style */

#mainNavi {
	position: absolute;
	bottom: 0;
	line-height: 0;
	z-index: 100;
	height: 27px;
	width: 100%;
}

#mainNavi ul ul {
	display: none;
}

#mainNavi ul li:hover > ul {
	display: block;
}

#mainNavi ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}
#mainNavi > ul {
	height: 27px;
}
#mainNavi ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

#mainNavi ul li {
	float: left;
	font-size: 14px;
	line-height: 1;
}
#mainNavi > ul > li {
	margin-right: -1px;
}


#mainNavi ul li:hover a {
	color: #1f407a;
}

#mainNavi ul li a {
	display: block; 
	text-decoration: none;
	border: none;
	background: url('../images/bg-mainNavi.png') no-repeat 0 2px;
	border-right: 1px solid #627aa8;
	padding: 0px 13px 5px 23px;
	color: #fff;
}
#mainNavi ul li.first a {
	border-left: 1px solid #627aa8;
}


#mainNavi > ul > li.active > a,
#mainNavi > ul > li:hover > a {
	background: #fff url('../images/bg-mainNavi.png') no-repeat 0 9px;
	border-color: #fff;
	border-bottom: none ;
	padding-top: 7px;
	padding-bottom: 13px;
	margin-top: -7px;
	color: #1f407a;
}
#mainNavi > ul > li > a:hover {
	background: #82be1e url('../images/bg-mainNavi.png') no-repeat 0 -41px;
	border-color: #82be1e;
	border-bottom: none ;
	padding-top: 7px;
	padding-bottom: 13px;
	margin-top: -7px;
	color: #1f407a;
}	

#mainNavi > ul > li:hover {
	position: relative; 
	z-index: 201;
	box-shadow: 0px 0px 7px 0px #222; 
}
#mainNavi > ul > li:hover > a {
	position: relative; 
	width: auto;
	z-index: 202;
}
		
#mainNavi ul ul {
	position: absolute; 
	z-index: 200;
	top: 100%;
	background: #fff; 
	padding:0;
	box-shadow: 0px 0px 7px 0px #222; 
}
#mainNavi ul ul li {
	position: relative;	
	float: none; 
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: -1px;
	font-size: 12px;
}
#mainNavi ul ul li a {
	background-image: none;
	border: none;
	padding: 10px 15px;
	margin: 0;
	min-width: 200px;
}	
#mainNavi ul ul li a:hover {
	border: none;
	background: #82be1e;
	padding: 10px 15px;
	margin: 0;
}
		
#mainNavi ul ul ul {
	position: absolute; left: 100%; top:0;
}


/* @end */
/* @group flowNavi */

#flowNavi {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 31;
	background-color: #82be1e;
	height: 30px;
	zoom:1;
	overflow: hidden; 
}
#flowNavi ul {
	margin: 0;
	padding: 0;
	padding-left: 13px;
}
#flowNavi li {
	float: left;
	list-style: none;
	font-size: 12px;
	line-height: 12px;
	padding: 9px 9px 9px 0px;
}
#flowNavi.small li {
	font-size: 11px;
	line-height: 12px;
	padding-right:7px;
}
#flowNavi li a {
	display: inline-block;
	padding-right: 15px;
	color: #000;
	background: url('../images/arrow-breadcrumb.png') no-repeat right center;
}
#flowNavi li a.selected {
	text-decoration: underline;
}
#flowNavi li:first-child a.selected {
	text-decoration: none;
}
#flowNavi li.inactive {
	background: #ddd;
	font-weight: bold;
}
#flowNavi li span {
	display: inline-block;
	padding-right: 15px;
	color: #fff;
	background: url('../images/arrow-breadcrumb.png') no-repeat right center;
}

/* clearfix */
#flowNavi ul:before, 
#flowNavi ul:after {
	content: " ";
	display: table;
	height: 0;
}
#flowNavi ul:after {
	clear: both;
}
#flowNavi {
	*zoom: 1; /* IE 6/7 */
}

/* @end */




/* @group tabNavi */
/* ---- tabNavi ---- */

.tabNavi {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.tabNavi ul {
	padding: 0;
	margin: 0;
	width:69%;
	font-size:0;
}
.tabNavi li {
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
	background: #eee;
	font-size: 12px;
	line-height: 1.6;
	font-weight: bold;
	color: #666
}
.tabNavi li.active {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.tabNavi li a {
	border: #000;
}
.tabNavi li a:hover {
	color: #000;
}
.tabNavi ul.pagination {
	position: absolute;
	right: 0;
	top; 0;
	width: 30%;
	text-align:right;
}
.tabNavi ul.pagination li {
	background: none;
	border-color: transparent;
	padding-right: 0;
	padding-left: 0;
}
/* @end */
/* @end */
/* @group left, right */
.left, .right {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.left {
	float: left;
	width: 50%;
	padding-right: 5px;
}

.right {
	float: right;
	width: 50%;
	padding-left: 5px;
}

.left.extra {
	width: 80%;
}

.right.extra {
	width: 20%;
}

.schliessen {
	float: right;
	font-size: 14px;
	margin-top: 12px;
	margin-right: 20px;
}

/* @end */
/* @group footer */

#footer a {
	color: #fff;
}

#footer a:hover {
	border-bottom: none;
	text-decoration: underline;
}

#footer #footerLinks {
	float: left;
	padding: 10px 0 0 13px;
	margin: 0;
}

#footer #footerLinks li {
	padding: 0;
	padding-right: 20px;
	list-style: none;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
}

#footer #copyright {
	float: right;
	padding: 10px 13px 0 0;
	margin: 0;
}

#footer #copyright li {
	padding: 0;
	padding-left: 20px;
	list-style: none;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
}

/* @end */
/* @group boxes */
.box  {
	margin-bottom:20px;
}
.box ul {
	margin-left:0;
	list-style: none;
}
.box p, .box li {
	font-size: 12px;
	line-height: 18px;
}

/* ---- Intro Text on top of a pge ---- */
.intro {
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.intro p {
	margin-bottom: 0;
}


/* ---- note at a bottom of a request/search ---- */
.note {
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}



/* @group confirm */

.confirm {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.confirm ul {
	margin-left: 17px;
}
.confirm li {
	list-style-type: square;
	line-height: 1.5;
}

.confirm p {
	margin-bottom: 0;
}
/* @end */

/* @group explain */
.explain {
	color: #666;
	display: block;
	float: right;
	text-align:left;
	width: 49%;
}

.explain.below {
	padding: 0;
	display: block;
}

.mandatory {
	color: #c00;
	padding-left: 5px;
	padding-right: 5px;
}


/* @end */
/* @end */

/* @group tables */

table.login {
	border:none;
}
table.login td {
	border:none;
}

table.wAuto th:first-child,
table.wAuto td:first-child {
	width: auto;
}


table.neutral td:first-child {
	font-weight: normal;
	color: inherit;
}

table.download {
	width: 100%;
	border: none;
}

table.download td {
	border: none;
	font-size: 14px;
	padding: 0 10px 5px 0;
}

table.download td:first-child {
	width: 180px;
}

td.border-no {
	border: none;
}
td.border-top-no {
	border-top: 2px solid #fff ;
}
td.border-dotted {
	border-style: dotted;
}
td.tRight {
	text-align: right;
	padding-right: 0;
}

/* @end */
/* @group form */
/* 
label {
	float: left;
	clear: left;
	display: inline-block;
	width:140px;
	color: #666;
	font-weight: bold;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 6px;
}
 */
label {
	display: inline-block;
	padding-top: 0;
	padding-bottom: 2px;
}
input {
	outline: 0;
}

input[type="text"], 
input[type="search"], 
input[type="password"], 
input[type="tel"],
input[type="email"], 
select, 
textarea {
	width: 100%;
}
/* within a table substract the td padding */
td input[type="text"], 
td input[type="search"], 
td input[type="password"], 
td input[type="tel"],
td input[type="email"], 
td select, 
td textarea {
	margin-top: -4px;
	margin-bottom: -3px;
}
td input[type="radio"], 
td input[type="checkbox"] {
	display: inline-block;
	margin-top: -4px;
	margin-bottom: -3px;
}
td img {
	display: inline-block;
	margin-top: -2px;
	margin-bottom: -3px;
}

input[type="text"].w75, 
input[type="password"].w75, 
input[type="tel"].w75,
select.w75,
textarea.w75 {
	width: 74%;
	margin-right:1%;
}

input[type="text"].w50, 
input[type="password"].w50, 
input[type="tel"].w50,
select.w50,
textarea.w50 {
	width: 49%;
	margin-right:1%;
}

input[type="text"].w25, 
input[type="password"].w25, 
input[type="tel"].w25,
select.w25 {
	width: 24%;
	margin-right:1%;
}

input[type="text"].wAuto,
select.wAuto {
	width: auto;
}
#content a.button,
input[type="button"], 
input[type="reset"], 
input[type="submit"], 
.submit {
	color: #fff;
	border: none;
	background: #0069B4 url('../images/arrow-submit.png') no-repeat right center;
	padding: 5px 35px 5px 12px;
}
td a.button,
td input[type="button"], 
td input[type="reset"], 
td input[type="submit"], 
td .submit {
	margin-top: -4px;
	margin-bottom: -4px;
}
a.button:hover,
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover, 
.submit:hover {
	background: #82be1e url('../images/arrow-submit-hover.png') no-repeat right center;
	color: black;
}
a.button:active,
input[type="submit"]:active, 
.submit:active {
	background: #000 url('../images/arrow-submit-hover.png') no-repeat right center;
	color: #fff;
}

input.delete {
	background-image: url('../images/icon-close.png');
}
input.delete:hover, 
input.delete:active  {
	background: #c00 url('../images/icon-close.png') no-repeat center right;
	color: #fff;
}
input.addfile {
	background: #666 url('../images/arrow-submit-hover.png') no-repeat right center;
}
input.addfile:hover, 
input.addfile:active  {
	background-color: #82be1e;
}
input.reset,
input.close {
	background-image: url('../images/icon-close.png');
	background-color: #666; 
	
}
input.reset:hover, 
input.reset:active,
input.close:hover, 
input.close:active {
	background-image: url('../images/icon-close.png');
}
input.back {
	background: #0069B4 url('../images/arrow-back.png') no-repeat center left;
	padding: 5px 12px 5px 35px;
}
input.back:hover, 
input.back:active  {
	background-image: url('../images/arrow-back-hover.png');
	background-position: center left;
	padding: 5px 12px 5px 35px;
}

/* @end */

/* @group form errors */
div.error {
	border: 1px solid #c00;
	padding: 5px 10px;
	margin-bottom:10px;
}

div.error h3,
td.error,
label.error {
	color: #c00;
}

div.error p,
div.error li {
	color: #c00;
	padding: 0;
	margin: 0;
}
/* highlight h3 and marked p in confirmation box only */
h3.error,   
p.error {
	color: #c00;
	padding: 0;
	margin: 0;
}

select.error, 
input.error, 
textarea.error {
	border: 1px solid #c00;
}

/* eApply */
.fieldError {
	color: #c00;
	font-size: 10px;
	display: block;
	clear: left;
	font-weight: normal;
}

/* @end */

/* @group form divider */
/* ---- create sub-sections in table-cells ---- */

.divider {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.divider > div {
	display: inline-block;
	margin-right: 1%;
	vertical-align: top;
}
.divider > div.w10 {
	width: 9%;
}
.divider > div.w12 {
	width: 11.5%;
}
.divider > div.w25 {
	width: 24%;
}
.divider > div.w50 {
	width: 49%;
}
.divider > div.w75 {
	width: 74%;
}
.divider > div span,
.divider > div label {
	display: block;
	margin-top: 8px;
	font-size: 11px;
	line-height: 12px;
	color: #666;
	padding: 0;
}
/* @end */

/* @group formButtons */

.formButtons .left {
	float: left;
}
.formButtons .right {
	float: right;
	text-align: right;
}
.formElement {
	clear: both;
	margin-bottom: 5px;
}

/* clearfix */
.formButtons:before, 
.formButtons:after {
	content: " ";
	display: table;
	height: 0;
}
.formButtons:after {
	clear: both;
}
.formButtons {
	*zoom: 1; /* IE 6/7 */
}

/* @end */

/* @group helpers */



.buttonList {
	float:left;
	margin: 0;
}
.buttonList li {
	float: left;
	margin-right: 30px;
	list-style: none;
	font-size: 12px;
	line-height: 13px;
}
/* clearfix */
.buttonList:before, 
.buttonList:after {
	content: " ";
	display: table;
}
.buttonList:after {
	clear: both;
}
.buttonList {
	*zoom: 1; /* IE 6/7 */
}

.ui-datepicker-title {
	font-size: 12px;
}
.ui-datepicker-trigger {
	display: inline-block;
	padding-left: 5px
}
.ui-datepicker-calendar td:first-child,
.ui-datepicker-calendar th:first-child {
	width: auto;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 35%;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 5px;
}
input.datepicker {
	width: 24%;
}



#dropzone {
	display: inline-block;
	border: 1px dashed #0069B4;
	width: 68%;
}
#dropzone p {
	text-align: center;
	margin: 0;
	padding: 30px 0;
	color: #0069B4;
}
#dropzone:hover {
	background: #c1d3f4;
}

.linkButton {
	font-size: 12px;
	line-height: 13px;
	border: 0;
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
}



.tooltip {
	margin: 20px 0 10px 0;
}

.tooltip span {
	margin: 20px 0;
	color: #0069b4;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	background: url('../images/arrow-link.png') no-repeat right center;
	padding-right: 15px;
}

.tooltip span:hover {
	border-bottom: solid 1px #82be1e;
}

.linkList {
	margin: 0;
	margin-top: 3px;
	padding: 0;
	padding-bottom: 18px;
}

.linkList li {
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 5px;
	list-style: none;
}

.linkList li a {
	background: url('../images/arrow-link.png') no-repeat right center;
	padding-right: 15px;
}

.linkList li.last-child, 
.linkList li:last-child {
	padding-bottom: 0;
}

/* @end */
